p {
    font-size: 1.5em;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-style:normal;
    font-stretch:ultra-expanded
    
}

a:hover { 
color: chartreuse
}
table {
    display: grid;
  grid: 150px / auto auto auto;
    
}