body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./images/metroheader.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: rgb(58,58,58);
  color: white;
  font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
    margin: auto;
    padding: auto;
}

.banner{
    background-image: url(images/Beans.jpg);
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    list-style-type: none;
    text-align: center;
    display: flex;
}
.banner p{
    font-size: 400%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
}


.col1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    
    
}
.col2 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    
}
.col3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    
}
.col4 {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 20px;
    margin: auto;
    border: black 5px;

    
    
}
.col4 .div1{    
    background-image: url("images/courthouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: black 5px; 
    
}
.col5 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    
}
div{
    margin: auto;
    

}
nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    background: black;
    opacity: .5;
    margin-top: 0px;
}


nav ul li{
    margin: auto;
    background: red;
    color: red;
    font-family: wingdings;
    

}

a li{
    background-color: white;
}


footer{
    background: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

.spotlight {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

		.spotlight .image {
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
			border-radius: 0;
			width: 40%;
		}

			.spotlight .image img {
				border-radius: 0;
				width: 100%;
			}

		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			max-width: 48em;
			width: 60%;
		}

		.spotlight:nth-child(2n) {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}



		@media screen and (max-width: 1280px) {

			.spotlight .image {
				width: 45%;
			}

			.spotlight .content {
				width: 55%;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: block;
			}

				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}
