/*index*/

body, html {
  height: 100%;
    width: 100%;
   
}

.bg {
  /* The image used */
  background-image: url("./images/metroheader.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

body {
  background: rgb(58,58,58);
  color: white;
  font-family: "arial";
    margin: auto;
    padding: auto;
    
}

.banner{
    background-image: url(images/Beans.jpg);
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 0;
}
.banner p{
    font-size: 350%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
     -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    
}


nav ul {
  overflow: hidden;
  background-color: #333;
    
    
}


nav ul li{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    padding: inherit;
    font-size: 50px;
}
li{list-style: none;
    
}
li:before{
    content: "";
    width: 15px;
    height: 20px;
    display: inline-block;
    background: url(images/Sprites/closed.png);
    margin-right: 10px;
}

.intro{
   background: rgb(58,58,58);
    font-size: 2em;
    font-family: "times new roman";
    margin-top: -32px;
    margin-bottom: -32px;
    padding-bottom: 32px;
    padding-left: 20px;
    display: block;
}


.introimage{
    float: right;
    display: block;
    margin-bottom: 100px;
    padding-top: 50px;

}
}
a li{
    background-color: white;
}
a{
   color: silver
}
a:hover{
   color: #E07E14;
}
h2 a:hover {
    color: #593E0F
}
.image{
   transition: 1s ease; 
}
.image:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

footer{
    background: black;
    bottom: 0px;
    width: 100%;
    height: 60px;
    

}
.spotlight{
		align-items: center;
		display: flex;
        background-color: #E07E14;
        opacity: .9;

	}

		.spotlight .image {
			margin: 0;
            order: 1;
			border-radius: 0;
			width: 40%;
		}
			.spotlight .image img {
				border-radius: 0;
				width: 100%;
			}

		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			order: 2;
			max-width: 48em;

		}
.spotlight p{
    font-size: 2em;
    
}
		.spotlight:nth-child(2n) {
			flex-direction: row-reverse;
		}



		@media screen and (max-width: 1280px) {

			.spotlight .image {
				width: 45%;
                
			}

			.spotlight .content {
				width: 55%;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: block;
			}

				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}
/*Metro Stop Pages */
.row h1, h2, h3, h4{
    color: #E07E14
}
.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
    padding-left: 40px;
    min-width: 10%;
    margin-bottom: 20px;
}

/* Middle column */
.column.middle {
  width: 50%;
    padding: 50px;
    padding-top: 0px;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 100px) {
  .column.side, .column.middle{
    width: 100%;
  }
}
.map-ballston{
    margin: 10px;
}

 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} 
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
